@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
    .anim-pause {
      animation-play-state: paused;
    },
    .anim-run {
        animation-play-state: running;
      },
    .display-box{
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
 };

 @layer components {
  .display-box{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
};